.agreements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
    width: 80vw;
    margin-left: 10vw;
}

.agreement {
    width: 120px;
    height: 120px;
    margin: 1em;
    white-space: nowrap;
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.agreement img {
    vertical-align: middle;
    max-width: 120px;
    max-height: 120px;
}