/*
* ==========================================
* NAVBAR
* ==========================================
*/
.navbar {
    transition: all 0.4s;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 0px; /* top-left corner, top-right corner, bottom-right corner, bottom-left corner */
    backdrop-filter: blur(20px);
}

.navbar .nav-link {
    color: #1f232a;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #6a1630;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #ffffff;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 0px; /* top-left corner, top-right corner, bottom-right corner, bottom-left corner */
    backdrop-filter: blur(20px);
}

.navbar.active .nav-link {
    color: #1f232a;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color:#6a1630;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #1f232a;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: rgba(255,255,255,0);
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #1f232a;
    }
}


