/*
* ==========================================
* TEAM
* ==========================================
*/

.teamArea {
  position: relative;
  background-image:  white;
  color: #1f232a;
  max-width: 100%;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;

}

.teamArea>h1{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team {
    display: flex;
    position: relative;
	flex-wrap: wrap;
    justify-content: center;
    margin-top: 0rem;
}

.teamCard {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: auto;
    height: 225px;
    min-width: 150px;
	padding-top: 1rem;
	margin: 1.1rem;
    text-align: center;
    transition: all 1.5s;
    overflow: hidden;
    border-radius: 10px;
    transform: scale(1.1);
}
.teamCard-fisio {
    background-color: #1f232a; /* #34ebe1; */
    border: solid #1f232a;
}
.teamCard-admin{
    background-color: #6a1630; /* #34ebe1; */
    border: solid #6a1630;
}

.teamCard:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;

    bottom: 0;
    right: -1px;
    z-index: -1;
    border-top-left-radius: 10px;
    transition: 0.25s;
}

.teamCard-fisio:before {
    background: #6a1630;
}
.teamCard-admin:before {
    background: #1f232a;
}

.teamCard:hover:before {
    transform: scale(70);
}

.teamCard h3 {
	font-family: 'Manjari', sans-serif;
    font-size: 100%;
	border-bottom: 2px;
	border-right: 2px;
	text-align: center;
    color: #ffffff;
    z-index: 1;
}

.teamCard img {
    object-fit: cover;
    width: 130px;
    height: 130px;
    display: block;
    margin: auto;
	border-radius: 50%;
    transition: all 2s;
    z-index: 1;
}

.teamCard:hover{
    transform: scale(1.15);
}
@media (max-width: 55rem) {
    .teamCard{
        transform: scale(1.0);
        margin: .8rem;
    }
    .teamCard:hover{
        transform: scale(1.05);
    }
    .teamArea {
    
        margin-left: 1rem;
        margin-right: 1rem;
       
      
      }
      

}

