<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/navbar.css" rel="stylesheet" type="text/css">
    <link href="../css/aboutUs.css" rel="stylesheet" type="text/css">
    <link href="../css/fisiotherapy.css" rel="stylesheet" type="text/css">
    <link href="../css/services.css" rel="stylesheet" type="text/css">
    <link href="../css/team.css" rel="stylesheet" type="text/css">
    <link href="../css/footer.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FROM:https://github.com/michalsnik/aos -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Eurofisica</title>
</head>

<body>
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg fixed-top py-3">
                    <img src="../img/EFNavBar.png" style=" width: 200px; height:50px; max-width: 100%; max-height:100%; object-fit: contain; margin-left: 1rem" />
                    <button type="button" style="background: rgba(255,255,255,0.8)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
                    <div id="navbarSupportedContent" class="collapse navbar-collapse" style="margin-right: 3rem">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a href="#" class="nav-link  font-weight-bold">Sobre nós <span class="sr-only">(current)</span></a></li>
                            <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Serviços</a></li>
                            <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Equipa</a></li>
                            <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Contactos</a></li>
                        </ul>
                    </div>
            </nav>

        <!-- Content -->

               <!-- Header -->
               <div class="header">
                  <div class="header-section">

                  </div>
                </div>

               <!-- Intro/About Us -->
               <div class="section-wrap">
                  <div class="section">
                        <div class="section-left">
                            <div class="introImage"></div>
                        </div>
                        <div class="section-right">
                            <div class="introImage2"></div>
                            <p> Fundada em 1998, a Eurofísica - Centro Fisiátrico
                                actua na área da medicina física e de reabilitação,
                                nomeadamente a fisioterapia, sendo formada por um
                                corpo clínico devidamente qualificado.
                            </p>
                            <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                            </p>
                            <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                            </p>
                        </div>
                  </div>
                </div>

               <!-- Fisiotherapy -->
               <div class="fisiotherapy" style="background-image: url('../img/Musculo10.jpg')">
                   <div class="fisiotherapy-area">
                       <button type="button"  class="expand-button">
                               <h1>Fisioterapia</h1>
                                <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras. A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.

                                </p>
                       </button>

                       <div class="fisio-content">
                           <div class="fisio-type">
                             <h1>Músculo-Esquelética</h1>
                             <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                                </p>
                           </div>
                           <div class="fisio-type">
                               <h1>Respiratória</h1>
                               <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                                </p>
                           </div>
                           <div class="fisio-type">
                               <h1>Neurológica</h1>
                               <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                                </p>
                           </div>
                       </div>
                   </div>

               </div>

               <!-- Services -->
               <div class="services">

                    <div class="serviceImage" style="background-image: url('../img/services/Service1.jpg')">
                        <div class="serviceDescription">
                                <h1> Consultas de Medicina Física e de Reabilitação </h1>
                                <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                                </p>
                        </div>
                        <h1> Consultas de Medicina Física e de Reabilitação </h1>
                    </div>

                    <div class="serviceImage" style="background-image: url('../img/services/Service2.png')">
                        <div class="serviceDescription">
                                <h1> Consultas de Medicina Geral e Familiar </h1>
                                <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                                </p>
                        </div>
                        <h1> Consultas de Medicina Geral e Familiar </h1>
                    </div>

                    <div class="serviceImage" style="background-image: url('../img/services/Service3.jpg')">
                        <div class="serviceDescription">
                                <h1> Consultas de Psiquiatria </h1>
                                <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                                </p>
                        </div>
                        <h1> Consultas de Psiquiatria </h1>
                    </div>

                      <div class="serviceImage" style="background-image: url('../img/services/Service4.jpg')">
                        <div class="serviceDescription">
                                <h1> Análises Clínicas </h1>
                                <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                                </p>
                        </div>
                        <h1> Análises Clínicas </h1>
                    </div>

                      <div class="serviceImage" style="background-image: url('../img/services/Service5.jpg')">
                        <div class="serviceDescription">
                                <h1> Pilates Clínico </h1>
                                <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                                </p>
                        </div>
                        <h1> Pilates Clínico </h1>
                    </div>

                      <div class="serviceImage" style="background-image: url('../img/services/Service6.jpg')">
                        <div class="serviceDescription">
                                <h1> Consultas de Psiquiatria </h1>
                                <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                                medicina física e de reabilitação criado a pensar em si.
                                Dispomos de gabinetes de consulta totalmente equipados e
                                prontos para dar resposta às suas necessidades.
                                Dispomos ainda de acordos e convenções com as mais
                                importantes seguradoras.
                                </p>
                        </div>
                        <h1> Fisioterapia no Domicilio </h1>
                      </div>



                </div>

               <!-- Team -->
               <div class="team">
                    <div class='teamCard'>
                        <img alt='Alda Bento' src="../img/team/AldaBento.jpeg" />
                           <h3>Alda Bento</h3>
                    </div>
                    <div class='teamCard'>
                        <img alt='Ana Raquel Loureiro' src="../img/team/AnaRaquelLoureiro.jpeg" />
                        <h3>Ana Raquel Loureiro</h3>
                    </div>
                    <div class='teamCard'>
                        <img alt='Mariana Ambrósio' src="../img/team/MarianaAmbrosio.jpeg" />
                        <h3>Mariana Ambrósio</h3>
                    </div>
                    <div class='teamCard'>
                        <img alt='Nicole Brito' src="../img/team/NicoleBrito.jpeg" />
                        <h3>Nicole Brito</h3>
                    </div>
                    <div class='teamCard'>
                        <img alt='Pedro Catarro' src="../img/team/PedroCatarro.jpeg" />
                        <h3>Pedro Catarro</h3>
                    </div>
                </div>

        <!-- Footer -->
        <footer>
                <div class="footerContent">
                    <div class="left box">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3110.6332098425746!2d-9.315529884491303!3d38.77211596192398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ece3026ce571b%3A0x68077c47a40aab99!2sEurof%C3%ADsica!5e0!3m2!1spt-PT!2spt!4v1610476921696!5m2!1spt-PT!2spt" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="right box">
                        <h1> Contactos </h1>
                        <div class="footerBoxContent">
                            <div class="place">
                                <span class="fas fa-map-marker-alt"></span>
                                <span class="text"> Largo Gama Barros 1, 2735-476 Agualva-Cacém </span>
                            </div>
                            <div class="phone">
                                <span class="fas fa-phone-alt"></span>
                                <span class="text">+351 919 312 536  |  +351 219 146 607</span>
                            </div>
                            <div class="email">
                                <span class="fas fa-envelope"></span>
                                <span class="text">eurofisicacacem@gmail.com</span>
                            </div>
                             <div class="social">
                                <a href="#"><i class="fab fa-facebook" style="color: white; margin-right: 1rem" ></i></a>
                                <a href="#"><i class="fab fa-instagram"style="color: white"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            $(function () {
                $(window).on('scroll', function () {
                    if ( $(window).scrollTop() > 10 ) {
                        $('.navbar').addClass('active');
                    } else {
                        $('.navbar').removeClass('active');
                    }
                });
            });
        </script>
        <script>
            function parallax_height() {
              var scroll_top = $(this).scrollTop();
              var sample_section_top = $(".section").offset().top;
              var header_height = $(".header-section").outerHeight();
              $(".section").css({ "margin-top": header_height });
              $(".header").css({ height: header_height - scroll_top });
            }
            parallax_height();
            $(window).scroll(function() {
              parallax_height();
            });
            $(window).resize(function() {
              parallax_height();
            });
        </script>

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>


      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <!-- FROM:https://github.com/michalsnik/aos -->
      <script>
        AOS.init({
            offset:120, //
            duration: 500
        });
      </script>

      <!-- Fisioterapia button -->
      <script>
          document.querySelectorAll('.expand-button').forEach(button => {
              button.addEventListener('click', () =>{
                  const fisioContent = button.nextElementSibling;
                  button.classList.toggle('expand-button--active');
                  const fisiotherapyArea = document.querySelector('.fisiotherapy-area');

                  if(button.classList.contains('expand-button--active')){
                      fisioContent.style.maxHeight = fisioContent.scrollHeight+'px';
                      fisiotherapyArea.style.backgroundColor = "rgba(0,0,0,0.7)";
                  }else{
                      fisioContent.style.maxHeight = '0px';
                      fisiotherapyArea.style.backgroundColor = "rgba(0,0,0,0.4)";
                  }
              });
          })
      </script>



</body>