<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/navbar.css" rel="stylesheet" type="text/css">
    <link href="../css/aboutUs.css" rel="stylesheet" type="text/css">
    <link href="../css/fisiotherapy.css" rel="stylesheet" type="text/css">
    <link href="../css/services.css" rel="stylesheet" type="text/css">
    <link href="../css/team.css" rel="stylesheet" type="text/css">
    <link href="../css/agreements.css" rel="stylesheet" type="text/css">
    <link href="../css/footer.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->


    <title>Eurofisica</title>
</head>

<body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <img src="../img/EFNavBar.png"
            style=" width: 200px; height:50px; max-width: 100%; max-height:100%; object-fit: contain; margin-left: 1rem" />
        <button type="button" style="background: rgba(255,255,255,0.8)" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i
                class="fa fa-bars"></i></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse" style="margin-right: 3rem">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="#aboutsection" class="nav-link  font-weight-bold">Sobre nós <span
                            class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a href="#fisiotherapysection" class="nav-link font-weight-bold">Serviços</a></li>
                <li class="nav-item"><a href="#teamsection" class="nav-link font-weight-bold">Equipa</a></li>
                <li class="nav-item"><a href="#agreementssection" class="nav-link font-weight-bold">Acordos</a></li>
                <li class="nav-item"><a href="#footersection" class="nav-link font-weight-bold">Contactos</a></li>
            </ul>
        </div>
    </nav>

    <!-- Content -->

    <!-- Header -->
    <div class="header">
        <div class="header-section">

        </div>
    </div>

    <!-- Intro/About Us -->
    <div class="section-wrap" >
        <a class="anchor" id="aboutsection"></a>
        <div class="section">
            <div class="section-left">
                <div class="introImage"></div>
            </div>
            <div class="section-right">
                <div class="introImage2"></div>
                <p> Fundada em 1998, a Eurofísica - Centro Fisiátrico
                    actua na área da medicina física e de reabilitação,
                    nomeadamente a fisioterapia, sendo formada por um
                    corpo clínico devidamente qualificado.
                </p>
                <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                    medicina física e de reabilitação criado a pensar em si.
                    Dispomos de gabinetes de consulta totalmente equipados e
                    prontos para dar resposta às suas necessidades.
                    Dispomos ainda de acordos e convenções com as mais
                    importantes seguradoras.
                </p>
                <p> A Eurofísica é um espaço acolhedor e exemplar na área da
                    medicina física e de reabilitação criado a pensar em si.
                    Dispomos de gabinetes de consulta totalmente equipados e
                    prontos para dar resposta às suas necessidades.
                    Dispomos ainda de acordos e convenções com as mais
                    importantes seguradoras.
                </p>
            </div>
        </div>
    </div>

    <!-- Fisiotherapy -->
    <div class="fisiotherapy"  style="background-image: url('../img/Musculo10.jpg')">
        <a class="anchor" id="fisiotherapysection"></a>
        <div class="fisiotherapy-area">
            <button type="button" class="expand-button">
                <h1>Fisioterapia</h1>
                <p> A Fisioterapia é um serviço prestado por fisioterapeutas a indivíduos e populações para desenvolver, manter e restaurar o máximo movimento e capacidade funcional durante toda a vida útil. O serviço é prestado em circunstâncias em que movimento e função estão ameaçados pelo envelhecimento, lesão, dor, doenças, distúrbios, condições ou fatores ambientais e com o entendimento de que o movimento funcional é central para o que significa ser saudável.


                </p>
            </button>

            <div class="fisio-content">
                <div class="fisio-type">
                    <h1>Músculo-Esquelética</h1>
                    <p> A Fisioterapia Músculo-Esquelética, sendo uma das áreas mais abrangentes da Fisioterapia, tem como alguns objetivos a prevenção, gestão, redução ou eliminação de sintomas associados a problemas músculo-esqueléticos através de técnicas de avaliação e de tratamento específicas baseadas num raciocínio clínico.
                    </p>
                </div>
                <div class="fisio-type">
                    <h1>Respiratória</h1>
                    <p> A Fisioterapia Respiratória é uma área que inclui métodos de tratamento não invasivos para condições do foro respiratório, tanto nas crianças como nos adultos. Os objetivos incluem a redução de sintomas (dispneia, fadiga, tosse, expectoração e dor), a melhoria da tolerância ao exercício, ajudar a mobilizar e remover secreções, e aumentar a autoeficácia na gestão da doença.
                    </p>
                </div>
                <div class="fisio-type">
                    <h1>Neurológica</h1>
                    <p> A Fisioterapia Neurológica é uma área de atuação a nível das sequelas de lesões neurológicas que envolvem o sistema nervoso central ou periférico, com distúrbios motores e/ou cognitivos. Os objetivos desta área incluem a prevenção do início dos sintomas e da progressão das limitações funcionais que são consequência de doenças, perturbações ou lesões.

                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- Services -->
    <div class="services">
        <a class="anchor" id="teamsection"></a>
        <div class="servicesArea">
            <div class="serviceCard">
                <div class="serviceCardImage"style="background-image: url('../img/services/Service1.jpg')" >
                </div>
                <div class="serviceCardText">
                    <h1>Consultas de Medicina Física e de Reabilitação</h1>
                    <p> A Medicina Física e de Reabilitação é a especialidade médica responsável pelo diagnóstico, prevenção, tratamento, reabilitação e integração do indivíduo afetado funcionalmente por doença, traumatismo ou deficiência, em todas as idades e nas condições agudas e crónicas.
                        <br><br>Dra. Isabel Crespo & Dra. Ana Cristina Sousa 
                    </p>
                </div>
            </div>
            <div class="serviceCard">
                <div class="serviceCardImage" style="background-image: url('../img/services/Service2.png')" >
                </div>
                <div class="serviceCardText">
                    <h1>Consultas de Medicina Geral e Familiar</h1>
                    <p> A Medicina Geral e Familiar é a especialidade médica que promove cuidados de saúde a todos os que procuram o médico de família, independentemente da idade, género, etnia ou estado de saúde, de forma personalizada, global, acessível e em continuidade.
                        <br><br>Dra. Manuela Rodrigues
                    </p>
                </div>
                
            </div>
            <div class="serviceCard">
                <div class="serviceCardImage" style="background-image: url('../img/services/Service3.jpg')">
                </div>
                <div class="serviceCardText">
                    <h1>Consultas de Psiquiatria</h1>
                    <p> A Psiquiatria é a especialidade médica que se dedica à prevenção, ao diagnóstico e tratamento das perturbações mentais, emocionais ou comportamentais.
                        <br><br>Dra. Raquel Ribeiro
                </div>
                
            </div>
            <div class="serviceCard">
                <div class="serviceCardImage" style="background-image: url('../img/services/Service4.jpg')">
                </div>
                <div class="serviceCardText">
                    <h1>Análises Clínicas</h1>
                    <p> Com a parceria da Labocentro, pode realizar um conjunto de exames e testes no laboratório de análises clínicas, das 8:30h às 10:30h, sem necessidade de marcação prévia.
                    </p>
                </div>
            </div>
            <div class="serviceCard">
                <div class="serviceCardImage" style="background-image: url('../img/services/Service5.jpg')">
                </div>
                <div class="serviceCardText">
                    <h1>Pilates Clínico</h1>
                    <p> O Pilates Clínico visa o aumento da consciência corporal através da realização de exercícios com foco no controlo da estabilidade lombar e abdominal. Direcionados para qualquer pessoa, com ou sem patologia associada e/ou necessidade de reabilitação, permite igualmente ganhos de mobilidade articular, flexibilidade muscular, controlo postural e, não menos importante, ganho de controlo respiratório.
                    </p>
                </div>
            </div>
            <div class="serviceCard">
                <div class="serviceCardImage" style="background-image: url('../img/services/Service6.jpg">
                </div>
                <div class="serviceCardText">
                    <h1>Fisioterapia no Domicílio</h1>
                    <p> Prestação dos serviços de Fisioterapia na casa dos utentes, atenuando as dificuldades de deslocação à clínica, seja por incapacidade física, falta de transporte, acompanhamento e/ou tempo. Esta modalidade da Fisioterapia pode ser uma solução temporária ou permanente, e visa facilitar o acesso dos utentes aos tratamentos necessários. 
                    </p>
                </div>
            </div>
        </div>
        
        
    </div>

    <!-- Team -->
    <div class="teamArea" >
        <a class="anchor" id="teamsection"></a>
        <!--<h1> Equipa </h1>-->
        <div class="team">
            <div class='teamCard teamCard-fisio' id="teamCard-fisio">
                <img alt='Patricia Berardo' src="../img/team/PatriciaBerardo.jpeg"/>
                <h3>Patricia Berardo</h3>
                <h3 style="font-size:0.8rem">Fisioterapeuta</h3>
            </div>
            <div class='teamCard teamCard-fisio' id="teamCard-fisio">
                <img alt='Nicole Brito' src="../img/team/NicoleBrito.jpeg" />
                <h3>Nicole Brito</h3>
                <h3 style="font-size:0.8rem">Fisioterapeuta</h3>
            </div>
            <div class='teamCard teamCard-fisio' id="teamCard-fisio">
                <img alt='Mariana Ambrósio' src="../img/team/MarianaAmbrosio.jpeg" />
                <h3>Mariana Ambrósio</h3>
                <h3 style="font-size:0.8rem">Fisioterapeuta</h3>
            </div>
            <div class='teamCard teamCard-fisio' id="teamCard-fisio">
                <img alt='Raquel Loureiro' src="../img/team/AnaRaquelLoureiro.jpeg" />
                <h3>Ana Raquel Loureiro</h3>
                <h3 style="font-size:0.8rem">Fisioterapeuta</h3>
            </div>
            <div class='teamCard teamCard-fisio' id="teamCard-fisio">
                <img alt='Pedro Catarro' src="../img/team/PedroCatarro.jpeg" />
                <h3>Pedro Catarro</h3>
                <h3 style="font-size:0.8rem">Fisioterapeuta</h3>
            </div>
            <div class='teamCard teamCard-fisio' id="teamCard-fisio">
                <img alt='Alda Bento' src="../img/team/AldaBento.jpg" />
                <h3>Alda Bento</h3>
                <h3 style="font-size:0.8rem">Administração</h3>
            </div>
            <div class='teamCard teamCard-fisio' id="teamCard-fisio">
                <img alt='Cláudia De Andrade' src="../img/team/ClaudiaDeAndrade.jpg" />
                <h3>cláudia De Andrade</h3>
                <h3 style="font-size:0.8rem">Administração</h3>
            </div>
            <div class='teamCard teamCard-fisio' id="teamCard-fisio">
                <img alt='Ana Cristina Sousa' src="../img/team/AnaCristinaSousa.png" />
                <h3>Dra. Ana Cristina Sousa</h3>
                <h3 style="font-size:0.8rem">Equipa Médica</h3>
            </div>
            <div class='teamCard teamCard-fisio' id="teamCard-fisio">
                <img alt='Isabel Crespo' src="../img/team/IsabelCrespo.png" />
                <h3>Dra. Isabel Crespo</h3>
                <h3 style="font-size:0.8rem">Equipa Médica</h3>
            </div>
            <div class='teamCard teamCard-fisio' id="teamCard-fisio">
                <img alt='Raquel Ribeiro' src="../img/team/RaquelRibeiro.png" />
                <h3>Dra. Raquel Ribeiro</h3>
                <h3 style="font-size:0.8rem">Equipa Médica</h3>
            </div>
            
        </div>

    </div>

    <!-- Agreements -->
    <div class="agreementsArea" >
        <a class="anchor" id="agreementssection"></a>
        <h1> Acordos </h1>
        <div class="agreements">
            <div class='agreement'>
                <span class="helper"></span><img alt='ADSE - Regime Livre'
                    src="../img/agreements/ADSE - Regime Livre.png" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='AdvanceCare - Sinistros'
                    src="../img/agreements/AdvanceCare - Sinistros.png" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='AdvantageSaúde' src="../img/agreements/AdvantageSaúde.jpg" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img
                    alt='Departamento de Saúde, Higiene e Segurança da Câmara Municipal de Lisboa'
                    src="../img/agreements/Departamento de Saúde, Higiene e Segurança da Câmara Municipal de Lisboa.png" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='IASFA _ ADM' src="../img/agreements/IASFA _ ADM.jpg" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='Labocentro - Laboratório de Análises Clínicas'
                    src="../img/agreements/Labocentro - Laboratório de Análises Clínicas.png" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='Liberty Seguros - Sinistros'
                    src="../img/agreements/Liberty Seguros - Sinistros.jpg" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='MAPFRE -  Sinistros'
                    src="../img/agreements/MAPFRE -  Sinistros.jpg" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='Médis CTT' src="../img/agreements/Médis CTT.jpg" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='Médis' src="../img/agreements/Médis.png" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='Multicare PT' src="../img/agreements/Multicare PT.png" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='Multicare' src="../img/agreements/Multicare.png" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='SAD GNR' src="../img/agreements/SAD GNR.jpg" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='SAD PSP' src="../img/agreements/SAD PSP.png" />
            </div>
            <div class='agreement'>
                <span class="helper"></span><img alt='Serviços Sociais da Caixa Geral de Depósitos'
                    src="../img/agreements/Serviços Sociais da Caixa Geral de Depósitos.jpg" />
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer >
        <a class="anchor" id="footersection"></a>
        <div class="footerContent">
            <div class="left box">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3110.6332098425746!2d-9.315529884491303!3d38.77211596192398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ece3026ce571b%3A0x68077c47a40aab99!2sEurof%C3%ADsica!5e0!3m2!1spt-PT!2spt!4v1610476921696!5m2!1spt-PT!2spt"
                    width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            
            <div class="right box">
                <h1> Contactos </h1>
                <div class="footerBoxContent">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"  style="margin-right: .5rem"> </span>
                        <span class="text"> Largo Gama Barros 1, 2735-476 Agualva-Cacém </span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt" style="margin-right: .5rem"></span>
                        <span class="text">+351 219 146 607 | +351 219 146 579 | +351 919 312 536</span>
                    </div>
                    <div class="email">
                        <i class="fas fa-envelope" style="margin-right: .5rem"></i>
                        <span class="text">eurofisicacacem@gmail.com</span>
                    </div>
                    <div class="social">
                        <a href="#"><i class="fab fa-facebook" style="color: white; margin-right: .5rem"></i></a>
                        <a href="#"><i class="fab fa-instagram"style="color: white"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


    <!-- Trigger Nav Bar function -->
    <script>
        $(function () {
            $(window).on('scroll', function () {
                if ($(window).scrollTop() > 10) {
                    $('.navbar').addClass('active');
                } else {
                    $('.navbar').removeClass('active');
                }
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Parallax Effect -->
    <script>
        function parallax_height() {
            var scroll_top = $(this).scrollTop();
            var sample_section_top = $(".section-wrap").offset().top;
            var header_height = $(".header-section").outerHeight();
            $(".section-wrap").css({ "margin-top": header_height });
            $(".header").css({ height: header_height - scroll_top });
        }

        parallax_height();
        $(window).scroll(() => {
            parallax_height();
        });
        $(window).resize(() => {
            parallax_height();
        });
    </script>

    <!-- Social media icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- Trigger Fisiotherapy button -->
    <script>
        document.querySelectorAll('.expand-button').forEach(button => {
            button.addEventListener('click', () => {
                const fisioContent = button.nextElementSibling;
                button.classList.toggle('expand-button--active');
                const fisiotherapyArea = document.querySelector('.fisiotherapy-area');

                if (button.classList.contains('expand-button--active')) {
                    fisioContent.style.maxHeight = fisioContent.scrollHeight + 'px';
                    fisiotherapyArea.style.backgroundColor = "rgba(0,0,0,0.7)";
                } else {
                    fisioContent.style.maxHeight = '0px';
                    fisiotherapyArea.style.backgroundColor = "rgba(0,0,0,0.4)";
                }
            });
        })
    </script>

    <!-- ______ SMOOTH SCROLL ______ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
            $(document).ready(function(){
              // Add smooth scrolling to all links
              $("a").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                  // Prevent default anchor click behavior
                  event.preventDefault();

                  // Store hash
                  var hash = this.hash;

                  // Using jQuery's animate() method to add smooth page scroll
                  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                  $('html, body').animate({
                    scrollTop: $(hash).offset().top
                  }, 800, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                  });
                } // End if
              });
            });
        </script>



</body>